@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-leitbox-teal: #00a693;
  --color-leitbox-navy: #1d2757;
  --color-leitbox-teal-light: #e6fcf5;
}

.path-mod-leitbox .flip-container {
  perspective: 1000px;
}

.path-mod-leitbox .flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.path-mod-leitbox .flip-card-front,
.path-mod-leitbox .flip-card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.path-mod-leitbox .flip-card-back {
  transform: rotateY(180deg);
}

.path-mod-leitbox .flipped>.flip-card-inner {
  transform: rotateY(180deg);
}